.App {
  text-align: center;
}

.main-giphy{
  height: 1000px;
}
.button-section{
  border-bottom: 1px solId black;
  button{
    margin: 8px;
  }
}
.quill {
  width: 600px;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.search-section{
  display: inline;
 
  .ui.input.search-value {
    display: inline;
  }
  

}
.image-section{
  min-width: 500px;
  max-height: 500px;
  overflow-y: scroll; 
  border: 1px solid #000;
  margin: 10px;
  min-height: 100px;
  img.gif-images {
    width: 200px;
    height: 200px;
    
  }
  
}
